.accordion-button:not(.collapsed) {
  background: #fafafa;
  color: black;
  border: 1px solid black;
}

.accordion {
  &-button {
    border: 1px solid black;
  }
  &-button:focus {
    box-shadow: none;
    border: 1px solid black;
  }

  &-button:not(.collapsed) {
    color: black;
  }

  &-body {
    background-color: #ececec;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
}

.progress {
  &--placed {
    background-color: #dce775;
    color: black;
  }

  &--prepared {
    background-color: #bce954;
    color: black;
  }

  &--complete {
    background-color: #5cb85c;
    color: black;
  }

  &--grey {
    background-color: #e9ecef;
    color: black;
  }
}

.tab {
  &--item {
    cursor: pointer;
    background-color: grey;
    border-radius: 0.3rem;

    &:hover {
      background-color: #6495ed;
      color: #fff;
    }
  }

  &--text {
    text-decoration: none;
    color: #fff;
  }

  &--text:hover {
    color: #fff;
  }
}
