.section-container {
  // background-color: #dedede;
  padding-top: 5rem;

  &:last-child {
    margin-bottom: 15rem;
  }
}

.carousel {
  width: 35rem;
  height: 30rem;
  border-radius: 0.75rem;
  &-container {
  }

  &-image {
    object-fit: cover;
  }
}
