$color-white: #fff;
$color-black: #000;
$color-navy--dark: #2d2e49;
$color-navy--light: #2d2e49b3;
$color-red: #bc112d;

// #2D2E49 navy
// #BC112D red

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "ENcode Sans Expanded", sans-serif;
}

.background {
  &-white {
    background-color: $color-white;
  }

  &-black {
    background-color: $color-black;
  }

  &-navy {
    &--dark {
      background-color: $color-navy--dark;
    }

    &--light {
      background-color: $color-navy--light;
    }
  }

  &-red {
    background-color: $color-red;
  }
}

.text {
  &-white {
    color: $color-white;
  }

  &-black {
    color: $color-black;
  }

  &-navy {
    &--dark {
      color: $color-navy--dark;
    }

    &--light {
      color: $color-navy--light;
    }
  }

  &-red {
    color: $color-red;
  }
}

.dropdown-toggle::after {
  color: #fff;
}

.dropdown-item.active,
.dropdown-item:active {
  text-decoration: none;
  background-color: $color-white !important;
}
