@import "../src//scss/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "ENcode Sans Expanded", sans-serif;
}

.dropdown-toggle::after {
  color: #fff;
}

.dropdown-item.active,
.dropdown-item:active {
  text-decoration: none;
  background-color: $color-white !important;
  color: black !important;
}

.custom-button--yellow {
  width: 100%;
  background-color: $color-orange !important;
  font-weight: bold !important;

  &:hover {
    background-color: $color-yellow--secondary !important;
  }
}

.custom-button--blue {
  width: 100%;
  background-color: $color-blue--primary !important;

  &:hover {
    color: #fff;
    background-color: $color-blue--secondary !important;
  }
}

.custom-button--red {
  width: 100%;
  background-color: $color-red--primary !important;
  font-weight: bold !important;

  &:hover {
    background-color: $color-red--secondary !important;
  }
}

html {
  @media screen and (max-width: 1000px) {
    font-size: 80%;
  }

  @media screen and (max-width: 768px) {
    font-size: 75%;
  }

  @media screen and (max-width: 450px) {
    font-size: 70%;
  }
}
