$color-primary--1: #3b8beb;
$color-primary--2: #c4dbf6;
$color-secondary: #8590aa;
$color-tertiary: #b23850;
$color-white: #fff;
$color-black: #000;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "ENcode Sans Expanded", sans-serif;
}

.background {
  &-primary {
    &--1 {
      background-color: $color-primary--1 !important;
    }

    &--2 {
      background-color: $color-primary--2 !important;
    }
  }

  &-secondary {
    background-color: $color-secondary !important;
  }

  &-tertiary {
    background-color: $color-tertiary !important;
  }

  &-white {
    background-color: $color-white;
  }

  &-black {
    background-color: $color-black;
  }
}

.text {
  &-primary {
    &--1 {
      color: $color-primary--1 !important;
    }

    &-2 {
      color: $color-primary--2 !important;
    }
  }

  &-secondary {
    color: $color-secondary !important;
  }

  &-tertiary {
    color: $color-tertiary !important;
  }

  &-white {
    color: $color-white;
  }

  &-black {
    color: $color-black;
  }
}

.dropdown-toggle::after {
  color: #fff;
}

.dropdown-item.active,
.dropdown-item:active {
  text-decoration: none;
  background-color: $color-secondary !important;
}

// html {
//   font-size: 62.5%;
// }

// @media only screen and (max-width: 1200px) {
//   html {
//     font-size: 57%;
//   }
// }

// @media only screen and (max-width: 1100px) {
//   html {
//     font-size: 55%;
//   }
// }

// @media only screen and (max-wdith: 900px) {
//   html {
//     font-size: 50%;
//   }
// }

// @media only screen and (max-width: 768px) {
//   html {
//     font-size: 45%;
//   }
// }

// @media only screen and (max-width: 600px) {
//   html {
//     font-size: 40%;
//   }
// }

// @media only screen and (max-width: 450px) {
//   html {
//     font-size: 35%;
//   }
// }

// @media only screen and (max-width: 350px) {
//   html {
//     font-size: 30%;
//   }
// }
