@import "../../../../../scss//variables";

.accordion-button:not(.collapsed) {
  background: #fafafa;
  color: black;
  border: 1px solid black;
}

.accordion {
  &-button {
    border: 1px solid black;
  }
  &-button:focus {
    box-shadow: none;
    border: 1px solid black;
  }

  &-button:not(.collapsed) {
    color: black;
  }

  &-body {
    // background-color: #ececec;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
}

.tab {
  &--item {
    width: 13rem;
    cursor: pointer;
    background-color: $color-blue--primary !important;
    border-radius: 0.3rem;

    &:hover {
      background-color: $color-blue--secondary !important;
      color: #fff;
    }

    &:focus {
      background-color: red !important;
    }
  }

  &--text {
    text-decoration: none;
    color: #fff;

    @media screen and (max-width: 550px) {
      justify-content: center;
    }
  }

  &--text:hover {
    color: #fff;
  }

  &-nav {
    @media screen and (max-width: 550px) {
      flex-direction: row !important;
      justify-content: space-between !important;
      flex-wrap: wrap;
      margin-bottom: 0.5rem !important;
    }
  }
}

.order-status {
  &--normal {
    @media screen and (max-width: 550px) {
      display: none;
    }
  }

  &--mobile {
    display: none;
    @media screen and (max-width: 550px) {
      display: flex;
      justify-content: center;
    }
  }
}
