@import "../../../../scss/variables";

.navigation {
  background-color: #fff;
  border-bottom: 1px solid black;

  &-container {
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &-nav {
    @media screen and (max-width: 768px) {
      align-items: flex-start !important;
    }
  }
}
