@import "../../../../scss/variables";

.equipmentCard {
  width: 20rem;
  border: none !important;

  &-carousel {
    height: 15rem;

    &--item {
    }

    &--image {
      width: 100%;
      object-fit: contain;
    }
  }

  &-image {
    height: 15rem;

    &--img {
      padding: 1rem !important;
      width: 100%;
      object-fit: contain;
    }
  }

  &-body {
    &--header {
      text-align: left !important;
      background-color: #fff;

      font-weight: bolder;
    }

    &--footer {
      color: #000;
    }
  }
}

.card-shadow {
  box-shadow: 3px 7px 10px 3px #949494 !important;
}
