* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "ENcode Sans Expanded", sans-serif;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 57%;
  }
}

@media only screen and (max-width: 1100px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 900px) {
  html {
    // font-size: 55%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 35%;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 30%;
  }
}

// component styles

// @import "./components/oldProj/cart-dropdown/cart-dropdown.styles.scss";
// @import "./components/oldProj/cart-icon/cart-icon.styles.scss";
// // @import "./components/oldProj/custom-button/custom-button.styles.scss";
// @import "./components/oldProj/form-input/form-input.styles.scss";
// @import "./components/oldProj/rental-overview/rental-overview.styles.scss";
// @import "./components/oldProj/rental-category/rental-category.styles.scss";
// @import "./components/oldProj/rental-item/rental-item.styles.scss";
// @import "./components/oldProj/rental-modal/rental-modal.styles.scss";
// @import "./components/oldProj/rental-modal-info/rental-modal-info.styles.scss";
// @import "./components/oldProj/rental-modal-selectTypes/rental-modal-selectTypes.styles.scss";
// @import "./components/oldProj/edit-modal-selectTypes.component.jsx/edit-modal-selectTypes.styles.scss";
// @import "./components/oldProj/edit-modal/edit-modal.styles.scss";

// // page styles
// @import "./pages/checkout/checkout.styles.scss";
// @import "./pages/rental/rental.styles.scss";
