.hero {
  &-container {
    height: 650px;
    position: relative;
  }

  &-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &-logo {
    &--container {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translateX(-50%);
      width: 50%;

      @media screen and (max-width: 900px) {
        width: 75%;
      }

      @media screen and (max-width: 768px) {
        top: 60%;
      }
    }

    &--image {
      width: 100%;
    }
  }
}
