$color-white: #f3f2ed;
$color-blue--primary: #2899d5;
$color-blue--secondary: #6283c9;
$color-red--primary: #df3f39;
$color-red--secondary: #df3f39c9;
$color-yellow: #fff380;
$color-green--primary: #8fdb5f;
$color-green--secondary: #dce775;

// 2899D5
