$color-white: #f3f2ed;
$color-blue--primary: #2899d5;
$color-blue--secondary: #6283c9;
$color-red--primary: #df3f39;
$color-red--secondary: #df3f39c9;
$color-yellow: #f4b649;
$color-green: #8fdb5f;

// 2899D5
