.formControl {
  font-size: 1.6rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.button {
  width: 100%;
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

[type="checkbox"] {
  vertical-align: middle;
}
